.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-footer {
  background-color: #470e18;
  width:100%;
  position: fixed;
  bottom:0;
  padding: 12px;
}


/*************************************************************************
* CSS CLASSES FOR APP BODY
*************************************************************************/
.App-body {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 80%;
}

.App-sub-body{
  position: relative;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-sub-body2{
  position: relative;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: white;
}
/*************************************************************************
* CSS CLASSES FOR TOP NAVIGATION BAR
*************************************************************************/
.navbar {
  display: flex; /* Occupies its own horizontal space */
  background-color: #470e18;
  position: fixed; /* Doesn't move */
  top: 0px; /* 0px from top-left */
  left: 0px; 
  width: 100%; /* 100% of width of screen */
  align-items: center;
  z-index: 200; /* Force it to be on top */
}

.navbar-row-element {
  padding-right: 10px;
}

/*************************************************************************
* CSS CLASSES FOR NavigationTabs
*************************************************************************/
/* .modetab -- Style the container enclosing the mode tabs */
.navtab-container {
  position: fixed;
  top: 54px;
  left: 0px;
  width: 100%;
  z-index: 150;
  display: flex; 
}

/* .modetab-btn -- Style mode tabs */
.navtab-btn { 
  border: none;
  font-size: 17px; 
  font-variant: small-caps;
  width: 25%;
  text-align: center;
  padding-top: 4px;
  padding-bottom: 4px;
  cursor: pointer;
}   

/* .modetab-selected -- Style the selected mode tab */
.navtab-selected {
  cursor: default;
  border-bottom: 4px solid var(--main-red-color) !important;
}